.section-four{
    background-color: #121212;
    border-radius: 16px;
    color: #FFF; 
    border: 1px solid var(--light-pop-boder, rgba(255, 255, 255, 0.15));
    .section-four-city{
        margin-top: 1rem;
        .section-four-city-Three{
            color: #FFF;
            font-family: PingFang SC;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem
        }
        .section-four-time-Three{
            color: #FFF;
            font-family: PingFang SC;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem
        }
    }
        
    .section-four-img{
        color: #FFF;
        text-align: center;
        font-family: PingFang SC;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem
        
}
        .section-four-degree-Three{
            color: #FFF;
            font-family: PingFang SC;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem
            }
    
    }