@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&family=Raleway:wght@300&display=swap');

*{
    box-sizing: border-box;
}
.clear {
    clear: both;
}
body{
    font-family: 'Montserrat', sans-serif;
    width: 1440px;
    height: auto;
    background: var(--faded-secondary-color-2, #FFF2F3);
    
}
header{
    text-align: center;
    width: 100%; 
} 
.brandname1{
    float: left;
    width: 300px;
    max-height: 78px;
    top: 17px;
    left:150px;
    text-align: center;
    padding: 5px;
}
.brandname1 h1{
    row-gap: 25px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.1px;
}
.nav{
    width: 900px; 
    padding: 5px; 
    color:#737373;
}
.nav ul li{
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
}
.nav ul li a{
    text-decoration: none;
    margin: 15px;
    color: #96BB7C;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.2px;
}
.login{
    float: right;
    left: 364px;
    width: 412px;
    padding: 5px;
   
}
.login ul li{
    display: inline-block;   
}
.login ul li a{
    text-decoration: none;
    margin:35px;
    color: #96BB7C;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.2px;
}
.button
{
    border: 3px solid #96BB7C;
    border-radius: 15px;
    padding: 15px;
    padding-right: 3px;
    background-color: #96BB7C;
}
.login ul li .button{
    color: #fff
}
.fa-solid{
    margin: 10px;
}
.image1{
    float: right;
    background-image: url(..//CSS/Img/01.png);
    width: 559.7px;
    height: 660px;
}
main{
    float: left;
    margin-top: 250px;
    margin-left: 250px;
    width: 542px;
    position: relative;
}
.welcome h5{
    color: var(--primary-color, #96BB7C);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.1px;
}
.welcome h1{
    color: var(--text-color, #252B42);
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 137.931% */
    letter-spacing: 0.2px;
}
.welcome h4{
    width: 338px;
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: 0.2px;
}
.login1 ul li{
    display: inline-block;
    margin-left: -110px;
}
.login1 ul li a{
    text-decoration: none;
    margin:65px;
    color: #96BB7C;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    letter-spacing: 0.2px;
    padding: 15px 40px;
    border: 1px solid #96BB7C;
    border-radius: 15px;
}
.button1
{
    padding: 15px 40px;
    padding-right: 3px;
    background-color: #96BB7C;
    align-items: center;
}
.login1 ul li .button1{
    color: #fff
}