
.main{
    margin: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 200px;

}
.clear {
    clear: both;
}
.icon{
    width: 200px;
    float: left;
    height: 100px;
    margin-left: 300px;
    margin-top: 40px;
}
.icon1{
    width: 200px;
    float: left;
    height: 100px;
    margin-left: -80px;
    margin-top: 40px;
}
.img1{
    float: left;
    width: 63px;
    height: 63px;
    margin-left: 25px;

}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display:flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 50px;
    font-size: 16px;
    color: #8B8B8B; 
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6px; 
}
ul li a{
    font-size: 16px;
    color: #8B8B8B; 
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.6px;
    text-decoration: none;
}
.contact p{
    float: right;
    width: 158px;
    margin-top: 65px;
    height: 58px;
    padding-right: 50px;

}
.contact p a{
    line-height: normal;
    letter-spacing: 1.6px;
    text-decoration: none;
    border: 1px solid #FF64AE;
    border-radius: 45px;
    background-color: #FF64AE;
    color: aliceblue;
    padding: 20px;
    padding-left: 30px;
    padding-right: 20px;
   
}
h3{
    width: 200px;
    float: left;
    height: 100px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 40px;
    color: #FF64AE;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin-bottom: -50px;
}
.p1{
    width: 487px;
    height: 72px;
    margin-left: 300px;
    margin-right: 300px;
}
.p1 h1{
    color: #091156;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; /* 45px */ 
}
.p2{
    float:right;
    width: 407px;
    height: 72px;
    margin-left: 350px;
    margin-right: 350px;
}
.p2 p{
    color: #8B8B8B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;  

}
.input{
    float:right;
    width: 400px;
    height: 50px;
    margin-left: 50px;
    margin-right: 250px;
    margin-bottom: -10px;
}
.picture{
    float:left;
    margin-left: 300px;
    margin-top: 50px;
}
.input .input1{
    width: 242px;
    height: 61px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap:65px;
    margin-bottom: 30px;
}
.input .input1 input{
    border: 1px solid #D9DDFE;
    border-radius: 15px;
    background: #FFF; 
    text-align: center;
    
}
.input .input2{
    height: 61px;
    display: flex;
    justify-content: flex-start;
    text-align: flex-start;
    gap:65px;
    margin-bottom: 30px;
    margin-left: -90px;
    
}
.input .input2 input{
    width: 420px;
    border-radius: 15px;
    border: 1px solid #D9DDFE;
    background: #FFF;
    text-align: center;
}

.input .input3{
    height: 61px;
    display: flex;
    gap:65px;
    margin-bottom: 30px;
    margin-left: -90px;
    
}
.input .input3 input{
    width: 420px;
    border-radius: 15px;
    border: 1px solid #D9DDFE;
    background: #FFF;
    text-align: center;
}
.input .input4{
    height: 239px;
    display: flex;
    gap:65px;
    margin-left: -90px;
    
}
.input .input4 textarea{
    width: 420px;
    border-radius: 15px;
    border: 1px solid #D9DDFE;
    background: #FFF;
    text-align: justify;
}
.input5 {
    margin-top: 60px;
    margin-left: -90px;  
}
.input5 p a{
    line-height: normal;
    letter-spacing: 1.6px;
    text-decoration: none;
    border: 1px solid #FF64AE;
    border-radius: 10px;
    background-color: #FF64AE;
    color: aliceblue;
    padding: 20px;
}
.content .clear{
    clear: both;
}
